body {
  background-image: url('/public/images/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
}

@media screen and (max-width: 650px) {
  body {
    background-image: none;
    padding-top: 0;
  }
}