body {
  background-image: url("/public/images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.homeCard {
  width: 950px;
  height: 600px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  justify-items: center;
  overflow: clip;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 /0.1);
  position: relative;
}

.homeCard_second {
  width: 900px;
  height: 460px;
  background-color: var(--theme-color-mid);
  background-size: cover;
  margin: auto;
  border-radius: 5px;
  display: flex;
  overflow: clip;
  position: relative;
}

.row {
  display: grid;
  grid-template-areas: "logo odjava pozdrav";
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  width: 150px;
  height: 180px;
  margin: 25px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: clip;
  position: relative;
}

.card:hover {
  width: 150px;
  height: 180px;
  margin: 25px;
  background-color: var(--theme-color-mid-dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: clip;
  position: relative;
}

.text_second {
  grid-area: pozdrav;
  font-size: medium;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: black;
}

.flag {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 120px;
}

.row_second {
  grid-area: odjava;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 2rem;
}

.button_second {
  padding: 0.5rem;
}

.logo {
  grid-area: logo;
  margin: 2rem;
}

.text {
  font-size: medium;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: var(--theme-color-mid-dark);
}

@media screen and (max-width: 1024px) {
  .homeCard {
    width: 650px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    justify-items: center;
    overflow: clip;
    box-shadow: 0 0 10px var(--shadow-color);
    position: relative;
  }

  .button_second {
    padding: 0.5rem;
    font-size: small;
  }

  .logo {
    grid-area: logo;
    margin: 2rem;
    width: 70%;
  }

  .text {
    font-size: small;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: var(--theme-color-mid-dark);
  }
}

@media screen and (max-width: 650px) {
  .homeCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    justify-items: center;
    overflow: clip;
    box-shadow: 0 0 10px var(--shadow-color);
    position: relative;
  }

  body {
    background-image: url("/public/images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
  }

  .button_second {
    padding: 0 0rem;
    font-size: small;
  }

  .logo {
    grid-area: logo;
    margin: 2rem;
    width: 90%;
  }

  .text {
    font-size: small;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: var(--theme-color-mid-dark);
  }

  .row_second {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    width: 150px;
    flex-direction: column;
    height: 1rem;
  }

  .button_second {
    margin-top: 5px;
    padding: 0.5rem;
    font-size: small;
  }
}
