.contentWindow {
    max-width: 1010px;
    background-color: white;
    margin: auto;
    border-radius: 10px; overflow: hidden;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 /0.1);
}

.contentWindowHeader {
    margin:auto;
    display: grid;
    padding: 1.5rem 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 27px;
}

.menu {
    color: var(--text-grey);
    font-size: x-large;
    display: flex;
    flex-direction: row-reverse;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-grey);
}
.pageText {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-grey);
}

.userName {
    margin-top: 1.9rem;
    text-align: center;
    font-size: 1rem;
    color: var(--text-grey)
}

.contentWindowMain {
    padding: 0rem 2rem 1.5rem 2rem;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    gap: 1.5rem;
}
