.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-weight: light;
  font-size: large;
  text-align: center;
}

.errorMsg {
  color: red;
  text-align: center;
}

.submitBtn {
  margin: .5rem auto;
}

.userName, .userEmail, .text {
  color: var(--text-grey);
}

.heading {
  color: var(--theme-color-dark);
  font-size: 1.25rem;
}

.text {
  margin: 1rem 0 2rem;
}


@media screen and (max-width: 650px) {
  body {
    background-image: url("/public/images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
  }

  .changePassCard {
    max-width: unset;
    width: 100vw;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    justify-items: center;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 /0.1);
    padding: 20px;
  }
}
