
.infoInputText {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1.1rem;
  padding: .5rem;
  color: var(--default-text);
  margin-bottom: 1rem;
  width: 100%;
}
/*
.buttonLink {
  display: inline-block;
  width: fit-content;
  color: var(--theme-color-dark);
  text-decoration: none;
}

.buttonLink:hover {
  color: var(--theme-color-mid-dark);
}
*/